# Node modules
node_modules/

# Environment variables
.env

# Build files
/client/dist
/client/build

# Logs
logs
*.log
npm-debug.log*

# Editor directories
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db